<?xml version="1.0"?>
<launch>
<!-- Start all nodes required to run a coexploration in simulation,
     using data replayed from NUI's dive 040. -->

  <arg name="log_path" default="/data/coex"/>

  <include file="$(find nui_coex_auv_2022)/launch/coexploration.launch">
    <arg name="run_topside" value="true"/>
    <arg name="log_path" value="$(arg log_path)"/>
  </include>
  <include file="$(find nui_coex_auv_2022)/launch/coexploration.launch">
    <arg name="run_topside" value="false"/>
    <arg name="log_path" value="$(arg log_path)"/>
  </include>


  <include file="$(find nui_coex_auv_2022)/launch/ros_acomms.launch">
    <arg name="run_topside" value="true"/>
  </include>
  <include file="$(find nui_coex_auv_2022)/launch/ros_acomms.launch">
    <arg name="run_topside" value="false"/>
  </include>

</launch>